.header {
  display: flex;
  align-items: center;
  background-color: #333333;
  height: 80px;
  border-radius: 0 0 15px 15px;
  padding: 0 20px;
  margin-bottom: 30px;
}

.nav {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  margin-right: 40px;
  font-weight: 700;
  font-size: 20px;
}
